<div class="separator">
  <hr>
</div>

<div class="footer-columns">
    <div class="footer-column">
      <h4>Nos réseaux sociaux</h4>
      <ul>
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Twitter</a></li>
        <li><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>Mentions légales</h4>
      <ul>
        <li><a href="/cgu">Conditions d'utilisation</a></li>
        <li><a href="/privacy">Politique de confidentialité</a></li>
        <li><a href="/legal">Mentions légales</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>À propos</h4>
      <p>Projet de S2 de qualité
      </p>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2023 <a href="http://the-stairway.fr">the-stairway.fr</a>. Tous droits réservés.</p>
  </div>