<nav>
  <ul class="menu-left">
    <li><a href="/about">About</a></li>
    <li><a href="/member">Member</a></li>
    <li><a href="/documentation">Documentation</a></li>
  </ul>
  <div class="logo">
    <a href="/"><img src="/images/logo.png" alt="Nom du jeu"></a>
  </div>
  <ul class="menu">
    <li><a href="/feedback">Feedback</a></li>
    <li><a href="/newsletter">Newsletter</a></li>
    <li class="download"><a href="/download">Download</a></li>
  </ul>
</nav>