<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div style="margin-top: 8em;"></div>

  <section class="content-table">
    <h1>Sommaire</h1>
    <ul>
      <li><a href="#">1. Introduction</a></li>
      <li><a href="#pres-intro">2. Présentation du projet</a></li>
      <li class="subtitle-content"><a href="#pres-project">2.1 Description</a></li>
      <li class="subtitle-content"><a href="#pres-description">2.2 Objectifs</a></li>
      <li class="subtitle-content"><a href="#pres-objective">2.3 Contexte et enjeux</a></li>
      <li><a href="#conception">3. Conception du projet</a></li>
      <li class="subtitle-content"><a href="#conception">3.1 Étapes de conception</a></li>
      <li class="subtitle-content"><a href="#conception-step">3.2 Historique</a></li>
      <li><a href="#conception-history">4. Technologies utilisées</a></li>
      <li><a href="#tech">5. Conclusion</a></li>
    </ul>
  </section>

  <section class="about-section">
    <h1 id="intro">1. Introduction</h1>
    <p>Cette page est composée d'informations relative au projet et à sa conception. Elle vise à vous faire avoir une meilleure compréhension du projet est des 
      informations concernants sa conception pour mieux le comprendre. Si vous voulez plus d'informations, vous pouvez consulter la documentation du projet 
      disponible sur <a href="/documentation" target="_blank">ce lien</a>.</p>
    <!--Partie présentation du projet-->
    <h1 id="pres-project">2. Présentation du projet</h1>
    <h2 id="pres-description">2.1 Description</h2>
    <p>Ce projet se fait dans le cadre du projet de S2 de l’EPITA et nous avons décidé de
      faire un jeu vidéo avec le moteur Unity. Nous avons ainsi défini que nous voulions faire un
      jeu où le joueur aurait pour objectif de devenir un dieu en parcourant des donjons.</p>
    <p>
      Le joueur va donc choisir entre 3 races qui changeront de manière significative la manière de jouer et de développer son personnage, 
      avec pour chacune, une façon de devenir un dieu. Le joueur aura un lieu appelé la surface où il pourra développer ses compétences à 
      partir des matériaux qu’il aura obtenus. D’un autre côté, il devra parcourir les donjons afin d’obtenir de l’expérience et des matériaux qui lui 
      seront très utiles pour se développer.
    </p>
    <p>
      Les donjons seront générés de manière aléatoire avec des montres et des thèmes différents en fonction de la race choisie par le joueur. 
      Chaque donjon comportera un nombre défini d’étages qui seront à compléter par le joueur. Certains étages comporteront aussi des boss qui 
      seront des véritables challenges pour le joueur mais les récompenses seront bien sûr intéressantes.
    </p>
    <p>
      La surface sera un lieu de développement pour le joueur qui sera organisée en fonction de la race du joueur. 
      C’est un lieu capital qui lui permettra d’obtenir de meilleurs équipements pour être mieux préparé pour faire les donjons. 
    </p>
    <h2 id="pres-objective">2.2 Objectifs</h2>
    <p>L'objectif est donc de travailler par groupe de 4 afin de créer ce jeu que nous avions défini dans le cahier des charges. 
      Nous avions donc pour objectif de finaliser ce jeu et tout les éléments le composant pour la soutenance finale le <b>2 juin 2023</b>. 
      Nous avions également pour but d'acquérir de nouvelles compétences dans le cadre de notre apprentissage.
    </p>
    <h2 id="pres-context">2.3 Contexte et enjeux</h2>
    <p>Ce projet se fait dans le cadre d'un projet scolaire à l'EPITA, l'enjeu principal est donc par conséquent l'apprentissage de
      nouveaux savoirs comme la collaboration dans une équipe de 4. Nous avons également des documents extérieurs à fournir comme
      les rapports de soutenances, les dossiers d'exploitations, etc...
    </p>
    <p>Pour se faire, l'enjeu principal est l'organisation d'une équipe de 4 personnes ayant pour but de réaliser les objectifs 
      du cahier des charges. Pour cela, chaque membres devra également apprendre des compétences plus spécifiques pour les tâches
      qui lui seront attribuées.
    </p>
    <!--Partie Conception du projet-->
    <h1 id="conception">3. Conception du projet</h1>
    <h2 id="conception-step">3.1 Étapes de conception</h2>
    <p></p>
    <h2 id="conception-history">3.2 Historique</h2>
    <!-- Partie technologies utilisées-->
    <h1 id="tech">4. Technologies utilisées</h1>

    <!-- Conclusion-->
    <h1 id="conclusion">5. Conclusion</h1>

  </section>

  </body>
  <footer>
    <%- include("./partials/footer.ejs") %>
  </footer>
</html>