<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div style="margin-top: 8em; margin-left: 15em; margin-right: 15em;">
    <h2>Conditions d'utilisation</h2>
    <br>
    <p>En accédant et en utilisant ce site web, vous acceptez d'être lié par les présentes conditions d'utilisation. 
        Si vous n'êtes pas d'accord avec ces conditions, veuillez ne pas utiliser ce site.</p>
    <br>
    <h2>Collecte des données</h2>
    <br>
    <p>
        Ce site web ne collecte aucune donnée personnelle ou sensible des utilisateurs. 
        Aucune information d'identification personnelle n'est stockée sur notre serveur.
    </p>
    <br>
    <h2>Droits de propriété intellectuelle</h2>
    <br>
    <p>Tous les contenus présents sur ce site, y compris les textes, les graphismes, les images, les logos, les icônes, les éléments audio et vidéo, sont la propriété exclusive de leurs propriétaires respectifs. 
        L'utilisation de ces contenus sans autorisation est strictement interdite.</p>
    <br>
    <h2>Liens externes</h2>
    <br>
    <p>Ce site peut contenir des liens vers des sites web externes. Nous ne sommes pas responsables du contenu ou de la politique de confidentialité de ces sites.</p>
    <br>
    <h2>Limitation de responsabilité</h2>
    <br>
    <p>Ce site web est fourni tel quel, sans aucune garantie explicite ou implicite. Nous ne serons pas responsables de tout dommage direct ou indirect causé par l'utilisation de ce site.</p>
    <br>
    <h2>Modification des conditions</h2>
    <br>
    <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment et sans préavis. 
        Il est de votre responsabilité de vérifier régulièrement ces conditions pour rester informé des changements.</p>
    <br>
    <h2>Droit applicable</h2>
    <br>
    <p>Ces conditions d'utilisation sont régies par les lois applicables en France. Tout litige relatif à l'utilisation de ce site sera soumis à la compétence exclusive des tribunaux français.</p>
    <br>
    <p>Si vous avez des questions ou des préoccupations concernant ces conditions d'utilisation, veuillez nous contacter à l'adresse e-mail fournie sur notre site.</p>
</div>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
</html>