<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div style="margin-top: 8em; margin-left: 15em; margin-right: 15em;">
    <h2>Mentions légales</h2>
    <br>
    <p>Ce site est édité par Jules LADAIGUE</p>
    <br>
    <p>Adresse : 10 rue Guido Guersi, Strasbourg, 67100</p>
    <br>
    <p>E-mail : jules.ladaigue@epita.fr</p>
    <br>
    <p>Directeur de publication : Jules LADAIGUE</p>
    <br>
    <p>Hébergeur : IONOS</p>
    <br>
    <p>Adresse : 7, place de la Gare - BP 70109, 57201 Sarreguemines</p>
    <br>
    <p>L'ensemble du site (code, image, contenu, etc...) est la supposée propriété intellectuelle de Jules LADAIGUE</p>
    <br>
</div>
</body>

<footer>
  <%- include("./partials/footer.ejs") %>
</footer>

</html>