<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="member-card" style="margin-top: 8rem;">
    <img class="member-photo" src="images/members/jules.jpg" alt="Photo du membre">
    <div class="member-info">
      <h3>Jules Ladaigue (Spirolad)</h3>
      <p>19 ans, étudiant de l'EPITA, connait Lionel, aime faire les JI, je fais des maths des fois. J'ai fait aussi le planning.
      </p>
      <div class="social-media">
        <a href="https://github.com/spirolad" target="_blank"><img src="/images/socialNetwork/github.png" alt="github"></a>
        <a href="https://www.instagram.com/jules.ladaigue/" target="_blank"><img src="/images/socialNetwork/instagram.png" alt="instagram"></a>
        <a href="https://twitter.com/SpiroIad" target="_blank"><img src="/images/socialNetwork/twitter.jpg" alt="twitter"></a>
        <a href="https://www.linkedin.com/in/jules-ladaigue-a98345259/" target="_blank"><img src="/images/socialNetwork/linkedin.png" alt="linkedin"></a>
      </div>
    </div>
  </div>

  <div class="member-card">
    <img class="member-photo" src="images/members/skander.png" alt="Photo du membre">
    <div class="member-info">
      <h3>Skander Darghouth</h3>
      <p>La légende raconte qu'il a codé 99% du projet et que c'est le vrai boss
      </p>
      <div class="social-media">
        <a href="https://github.com/spirolad" target="_blank"><img src="/images/socialNetwork/github.png" alt="github"></a>
      </div>
    </div>
  </div>

  <div class="member-card">
    <img class="member-photo" src="images/members/yann.jpg" alt="Photo du membre">
    <div class="member-info">
      <h3>Yann Clarisse</h3>
      <p>Il est petit, il est chiant et il me fait chier
      </p>
      <div class="social-media">
        <a href="https://github.com/spirolad" target="_blank"><img src="/images/socialNetwork/github.png" alt="github"></a>
      </div>
    </div>
  </div>

  <div class="member-card">
    <img class="member-photo" src="images/members/gauthier.jpg" alt="Photo du membre">
    <div class="member-info">
      <h3>Gauthier Baur</h3>
      <p>Graphiste du projet, il a été un monstre en modélisation
      </p>
      <div class="social-media">
        <a href="https://github.com/spirolad" target="_blank"><img src="/images/socialNetwork/github.png" alt="github"></a>
      </div>
    </div>
  </div>

</body>
<footer>
  <%- include("./partials/footer.ejs") %>
</footer>
</html>