<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div style="margin-top: 8em; margin-left: 15em; margin-right: 15em;">
    <h2>Politique de confidentialité</h2>
    <br>
    <p>Nous respectons votre vie privée et nous nous engageons à protéger les informations que vous partagez avec nous. 
        Cette politique de confidentialité décrit comment nous collectons, utilisons et partageons vos informations lorsque vous utilisez ce site.
    </p>
    <br>
    <h2>Collecte des données</h2>
    <br>
    <p>
        Ce site web ne collecte aucune donnée personnelle ou sensible des utilisateurs. 
        Aucune information d'identification personnelle n'est stockée sur notre serveur.
    </p>
    <br>
    <h2>Cookies</h2>
    <br>
    <p>Ce site n'utilise pas de cookies.</p>
    <br>
    <h2>Sécurité des informations</h2>
    <br>
    <p>
        Nous prenons des mesures de sécurité appropriées pour protéger vos informations contre tout accès non autorisé, altération, divulgation ou destruction.
    </p>
    <br>
    <h2>Droits d'accès et de suppression des données</h2>
    <br>
    <p>Vous pouvez nous contacter à tout moment pour demander l'accès à vos informations ou pour demander la suppression de vos informations de notre système.</p>
    <br>
    <h2>Modification de la politique de confidentialité</h2>
    <br>
    <p>Nous nous réservons le droit de modifier ces conditions d'utilisation à tout moment et sans préavis. 
        Il est de votre responsabilité de vérifier régulièrement ces conditions pour rester informé des changements.</p>
    <br>
    <h2>Contact</h2>
    <br>
    <p>Si vous avez des questions ou des préoccupations concernant cette politique de confidentialité, veuillez nous contacter à l'adresse e-mail fournie sur notre site.</p>
    <br>
    <p>Nous espérons que cette politique de confidentialité vous aidera à comprendre comment nous collectons, utilisons et protégeons vos informations lorsque vous utilisez notre site web.</p>
</div>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
</html>